* {
    box-sizing: border-box;
}

div {
    /*padding: 10px;*/
    /*background: rgba(0, 0, 0, .3);*/
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 10px;
    background: darkorchid;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.3333%;
}

.w-50 {
    width: 50%;
}

[class*='w-'] {
    float: left;
    margin-bottom: 5px;
    background: transparent;
    padding: 5px;
}

.container::after {
    content: '';
    clear: both;
    display: block;
}

.block {
    min-height: 50px;

}

.w-25 .block {
    background: rgb(210, 29, 57);
}

.w-33 .block {
    background: rgb(231, 183, 28);
}

.w-50 .block {
    background: rgb(46, 131, 9);
}

.line .w-25, .w-33, .w-50 {
    background: blue;
}

@media (max-width: 600px) {
    .w-25 {
        width: 100%;
    }

    .w-33 {
        width: 50%;
    }

    .w-50 {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .w-25 {
        width: 50%;
    }

    .w-50 {
        width: 100%;
    }

}